.nani {
    color: black;
    
    text-shadow: 0 0 3px #FF0000;
    background-color:bisque
    
}

.mmm {
    text-align: center;
    border-radius: 20px;
    text-shadow: 19px;
    
    

}

.mnm {
    
}